# Secrets
.env

# Dependencies
node_modules/
venv/
__pycache__/
.DS_Store

# Local Memory & History
memory.json
chat_history.json

# Large AI Assets (Manual download required by user)
RVC_Nazuna/

# Audio Logs & Temp Files
voice_logs/
*.wav
base_*.wav
nazuna_*.wav

# Build Files
dist/
build/